.company-logo.akkol {
    background-image: url(../images/company/akkol.png);
}

.company-logo.avendotomatlar {}

.company-logo.caglayankitap {
    background-image: url(../images/company/caglayankitap.png);
}

.company-logo.cafe24 {
    background-image: url(../images/company/caglayankitap.png);
}

.company-logo.fibabanka {
    background-image: url(../images/company/fibabanka.png);
    margin-left: 5em;
}

.company-logo.gursel {
    background-image: url(../images/company/gursel.png);
}

.company-logo.harvest {
    background-image: url(../images/company/harvest.png);
    margin-left: 4em;
}

.company-logo.herzamankiyer {
    background-image: url(../images/company/herzamankiyer.png);
    margin-left: 9em;
}

.company-logo.hotslice {
    background-image: url(../images/company/hotslice.png);
    margin-left: 7em;
}

.company-logo.izcocukgelisim {
    background-image: url(../images/company/izcocukgelisim.png);
    margin-left: 6em;
}

.company-logo.kasikla {
    background-image: url(../images/company/kasikla.png);
}

.company-logo.kidemsanat {
    background-image: url(../images/company/kidemsanat.png);
    margin-left: 4em;
}

.company-logo.kumpirbox {
    background-image: url(../images/company/kumpirbox.png);
}

.company-logo.kyocera {
    background-image: url(../images/company/kyocera.png);
}

.company-logo.marmarisbufe {
    background-image: url(../images/company/marmarisbufe.png);
    margin-left: 7em;
}

.company-logo.nero {
    background-image: url(../images/company/nero.png);
    margin-left: 4em;
}

.company-logo.ozu {
    background-image: url(../images/company/ozu.png);
}

.company-logo.ozusportscafe {
    background-image: url(../images/company/ozusportscafe.png);
    margin-left: 6em;
}

.company-logo.simitcidunyasi {
    background-image: url(../images/company/simitcidunyasi.png);
    margin-left: 6em;
}

.company-logo.subway {
    background-image: url(../images/company/subway.png);
}

.company-logo.vodafone {
    background-image: url(../images/company/vodafone.png);
}

.company-logo.yontatlievi {
    background-image: url(../images/company/yontatlievi.png);
    margin-left: 1em;
}

.company-logo.youthstore {
    background-image: url(../images/company/youthstore.png);
    margin-left: 5em;
}
