body {
    font-size: 16px;
}

.container-right-half {
    background: white;
    min-height: 95vh;
    height: 100%;
}

.thoughtbubble-logo {
    height: 6.25em;
    width: 6.25em;
}

.container-left-half {
    background:linear-gradient(
      rgba(54, 88, 153, 0.85), 
      rgba(54, 88, 153, 0.85)
    ), url(../images/business-team-meeting-boardroom_4460x4460.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgba(54, 88, 153, 1); */
    min-height: 95vh;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.font-color-grey {
    color: rgb(55, 57, 58);
}
.font-color-gold {
    color: rgb(218, 165, 32);
}

.test-speak {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 5.9em;
    min-width: 6.3em;
    position: relative;
    margin-top: 0.6em;
}

svg .speak-voice {
    fill: #FFAC33;
}

svg .speak-head {
    fill: white;
}

.fas {
    margin-right: 1.0em;
    margin-left: 2em;
}

.communication-item-left-group {
    font-family: 'Arvo', serif;
    /* May want to do this if there is risk the container may be narrower than the element inside */
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.communication-item-left-group:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

.communication-item-left-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.communication-item-left {
    margin: 2.5em auto;
    font-weight: bold;
    line-height: 1.5em;
    color: white;
}

.left-header {
    margin-bottom: 10em;
    text-align: center;
}

.thoughtbubble-image {
    display: block;
}

/*Dynamic Company Logo Depending on window.location
------------------------*/

.company-logo-wrapper {}

.company-logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 12.5em;
    height: 4.0em;
    display: inline-block;
    margin-bottom: 3em;
}

.dusuncembu-logo {
    width: 2.5em;
    display: inline-block;
}


textarea {
    outline: none;
    border: none;
}

textarea.form-control {
    resize: none;
    min-height: 20vmax;
    max-height: 20vmax;
    height: auto;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

.formGroupCustom {
    position: relative;
}

/* overwritten default bootstrap style */

/* override default inline tooltip style */

#tooltip-top {
    top: 0 !important;
    left: 0 !important;
}

#tooltip-top.like-dislike {
    top: -80% !important;
    left: 65% !important;
}

#tooltip-top.message {
    top: -29% !important;
    left: -10% !important;
}

.tooltip-inner {
    background-color: rgb(226, 76, 75);
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgb(226, 76, 75);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgb(226, 76, 75);
}

input {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.modal-container {
    position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
    position: absolute;
}

#contained-modal-title{
   color: rgb(54, 88, 153);
}

.modal-body {
    color: rgb(29, 33, 41);
}

.container-main {}

#main {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.main-form-header {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.6em;
    margin-left: auto;
    margin-right: auto;
}

.main-form-header h1 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.main-form-header h2 {
    font-weight: 100;
}

.main-form {
    padding: 2em 1.8em 2em 1.8em;
}

.main-form-email {
    padding: 2em 0.8em 2em 2.8em;
}

.wrap-input {
    display: inline-block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(1, 22, 39, 1);
    margin-bottom: 0.6em;
}

.wrap-input.email {
    width: 75%;
}

.input {
    color: #555555;
    line-height: 1.2em;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 0.3em;
}

/*---------------------------------------------*/

#wordcount {
    color: #555555;
    position: relative;
    left: 88%;
}

.textarea-label-wrapper {
    position: relative;
}

#count_message {
    position: absolute;
    right: 2%;
    bottom: 4%;
}

/*---------------------------------------------*/

input.input {
    height: 2.8em;
}

.main-form-btn {
    border: none;
    line-height: 1.2em;
}

.main-form-btn:hover {
    cursor: pointer;
}

.main-form-btn .text {}

.main-form-btn-next {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.3em;
    margin-top: 0.6em;
    margin-left: auto;
    margin-right: auto;
    min-width: 17em;
    height: 2.5em;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 0.06em 0.06em #a4e388;
    border: 0.06em solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 0.3em;
    color: #fff;
    line-height: 1.2em;
}

div {
    color: #ebf8e1;
}

.main-form-btn-next:hover {
    border: 0.06em solid black;
}

.container-footer {
    font-family: 'Arvo', serif;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.4em;
    background-color: #E0DDCF;
    min-height: 5vh;
    height: 100%;
}

.footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

.footer-links a {
    text-decoration: none;
}

.mr {
    margin-right: 0.9em;
}

textarea.input.error {
    border: 1px solid red;
}

.input-error-svg-textarea {
    opacity: 0;
    position: absolute;
    bottom: 4%;
    left: 1%;
    background-image: url("../images/warning.svg");
    width: 1.9em;
    height: 1.9em;
}

.input-error-svg-textarea.error {
    opacity: 1;
}

.container-btn {
    border-radius: 0.3em;
    width: 100%;
}

.container-btn.error {
    border: 1px solid red;
}

.input-error-svg-btn {
    opacity: 0;
    background-image: url("../images/warning.svg");
    background-repeat: no-repeat;
    width: 1.9em;
    height: 1.9em;
    /* position: absolute;
    right: 0.8em;
    top: 0.6em; */
    margin-top: 10px;
    margin-left: 60px;
}

.input-error-svg-btn.error {
    opacity: 1;
}

input.input {
    border-radius: 0.3em;
}

input.input.error {
    border: 1px solid red;
}

.input-error-svg-email {
    opacity: 0;
    background-image: url("../images/warning.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: absolute;
    right: -56%;
    top: 20%;
}

.input-error-svg-email.error {
    opacity: 1;
}