/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
/*----------------------------------------------------
      LEFT HALF
------------------------------------------------------*/



/*----------------------------------------------------
      RIGHT HALF
------------------------------------------------------*/
.container-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container-left-right{
  display: flex;
  flex-grow:1;
}

.container-right-half {
  display: flex;
  width: 50%;
  height: 100%;
  background: #f0ffff;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}

.thoughtbubble-logo {
  height: 100px;
  width: 100px;
}
.container-left-half {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.communication-item-left {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
}

.test-speak {
   -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 100px;
    min-width: 100px;
    position: relative;
    margin-top: 10px;
}
.left-header {
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 10px;
}
.background-image {
  /* 1 background-color: #2b2d8c; */
  background-color: #1976ba;
  max-width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.container-footer {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 40px;
  width:100%;
  bottom: 0;
  position: relative;
  background-color: #E0DDCF;
}

/*Header
------------------------*/
.container-header {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
}

.startup-logo {
  width: 80px;
  height: 80px;
  border-radius: 10%;
}
/* IndexForm
------------------------*/

textarea {
  outline: none;
  border: none;
}

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }


textarea::-webkit-input-placeholder {color: #999999;}
textarea:-moz-placeholder {color: #999999;}
textarea::-moz-placeholder {color: #999999;}
textarea:-ms-input-placeholder {color: #999999;}

/* MyEmailForm
------------------------*/
input {
	outline: none;
	border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #999999;}
input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.main-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-main {
  width: 420px;
  background: #E0DDCFff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/*==================================================================
[ Title form ]*/
.main-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 64px 15px 64px 15px;
}
/*done by me*/
.main-form-title {
  background-image: url('../images/company/akkol-logo.png');
  background-size: 100%
}

.dislike-button{
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

}

.like-button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.container-main {
  font-family: 'Roboto Slab', sans-serif;
  max-width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
}

/*----------------------*/
.main-form-title-1 {
  font-family: Poppins-Bold;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
}

.main-form-title-2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}


.main-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}


/*==================================================================
[ Form ]*/
.main-form-header{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.main-form-header h1 {
  font-size: 24px;
  font-weight: 300;
  font-family: Poppins-Regular;
}
.main-form-header h2 {
  font-size: 16px;
  font-weight: 100;
  font-family: Poppins-Regular;
}

.main-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 50px 20px 100px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 10px;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  text-align: right;

  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;

}

/*---------------------------------------------*/
.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}

#wordcount {
  font-family: Poppins-Regular;
  color: #555555;
  position: relative;
  left: 88%;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}


/*---------------------------------------------*/
input.input100 {
  height: 45px;
}


textarea.input100 {
  font-family: Poppins-Regular;
  color:black;
  min-height: 110px;
  padding-top: 15px;
  padding-bottom: 0;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-main-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/*custom config MarkBilginer*/
.container-main-form-notification {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.container-main-form-btn-MarkB{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.container-main-form-btn-MarkB.dislike{
  margin-right: 20px;
}

.main-form-btn-MarkB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 50px;
  height: 40px;
  border-radius: 5px;

  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.main-form-btn-MarkB i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.main-form-btn-MarkB:hover {
  background-color: #333333;
}

.main-form-btn-MarkB:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.main-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  background-color: #6846b8;
  border-radius: 5px;

  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}


.main-form-btn:hover {
  background-color: #5f3dad;
  border: 1px solid black;
}

/*----------------------------------------------------
      BOTTOM
------------------------------------------------------*/
/*Footer
------------------------*/
.footer-links {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  font-size: 12px;
  font-family: Poppins-Regular, sans-serif;
}

.mr {
  margin-right: 15px;
}

/*--------------------------
      Responsive
--------------------------*/

/*for phone only*/
@media (max-width: 599px) { 
  
}

/* for tablet portrait up */
@media (min-width: 600px) {

}
/*for tablet portait only*/
@media (min-width: 600px) and (max-width: 899px) { 
  
}

/*for tablet landscape up*/
@media (min-width: 900px) { 
  
}

/*for tablet landscape only*/
@media (min-width: 900px) and (max-width: 1199px) { 

}

/*for desktop up*/
@media (min-width: 1200px) { 
  
}

/*for desktop only*/
@media (min-width: 1200px) and (max-width: 1799px) {
  
}

/*for big desktop up*/
@media (min-width: 1800px) { 
  
}